$bgc:white;
//$color:#21a649;
$color:#48d1a0;
$color2:#40baae;
$l-gray:#6f6f6f;
$gray:#aaa;
$formWidth:300px;
$textColor:#fff;
$labelColor:#aaa;
$colorCancel:#eaeaea;
$colorAlert:#c91518;
$bg:#deeae0;
